.pageHeader {
    text-align: center;

}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-content: flex-start;
}

.shop {
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    border: 1px dotted black;
    padding: 0em;
    margin: 0em;
    text-align: left;
    align-self: auto;
    height: fit-content;

}